
<link rel="stylesheet" href="~/css/shop.css">

@model IEnumerable<mr_shtrahman.Models.Shop>

@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <h1>OUR SHOPS</h1>

    <form asp-action="Search" class="input-group search">
        <div class="form-outline">
            <input name="query"
                   placeholder="search shops"
                   type="search"
                   class="form-control" />
        </div>
        <button type="submit" value="search" class="btn btn-dark">
            Search
        </button>
    </form>
</div>
@foreach (var item in Model)
{

    <div class="card">
        <div class="card-header">
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
            <div class="card-text container">
                <div class="row">
                    <div class="col-sm">
                        @Html.DisplayFor(modelItem => item.City),
                        @Html.DisplayFor(modelItem => item.Street)
                        @Html.DisplayFor(modelItem => item.StreetNum)
                        <br />
                        <span>Phone: </span>@Html.DisplayFor(modelItem => item.PhoneNum)
                    </div>
                    <div class="col-sm">
                        Sun-Thu: 9:30-21:30 <br />
                        Fri: 9:00-15:00 <br />
                        Sat: 10:30-22:00
                    </div>
                    <div class="col-sm">
                        <img src=@Html.DisplayFor(modelItem => item.Img.Src)
                             width="50%" height="50%" style="margin:10px;"
                             alt=@Html.DisplayFor(modelItem => item.Img.Description)>
                    </div>
                </div>
                <span>Rating: @Html.DisplayFor(modelItem => item.Rating)</span>
            </div>
        </div>
    </div>
}
<a asp-action="Create" style="font-size: 250%; font-weight: 600; display: flex; flex-direction: row-reverse;">+</a>
