@model IEnumerable<mr_shtrahman.Models.Shop>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningSundayTilThursday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingSundayTilThursday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningFriday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingFriday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningSaturday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingSaturday)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningSundayTilThursday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingSundayTilThursday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningFriday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingFriday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningSaturday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingSaturday)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
