<link rel="stylesheet" href="~/css/trip.css">

@model IEnumerable<mr_shtrahman.Models.Trip>
@using mr_shtrahman.enums

@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <h1>OUR TRIPS</h1>

    <form asp-action="Search" class="input-group search">
        <div class="form-outline">
            <input name="query"
                   placeholder="search trips"
                   type="search"
                   class="form-control" />
        </div>
        <button type="submit" value="search" class="btn btn-dark">
            Search
        </button>
    </form>
    <form class="input-group filter">
        <div class="btn-group" role="group">
            <div class="btn-group" role="group">
                <select asp-items="Html.GetEnumSelectList<Destination>()"
                        class="form-control">
                    <option value="" selected disabled hidden>Destination</option>
                </select>
            </div>
            <div class="btn-group" role="group">
                <select asp-items="Html.GetEnumSelectList<TripType>()"
                        class="form-control">
                    <option value="" selected disabled hidden>Trip type</option>
                </select>
            </div>
            <div class="btn-group" role="group">
                <select asp-items="Html.GetEnumSelectList<Difficulty>()"
                        class="form-control">
                    <option value="" selected disabled hidden>Difficulty</option>
                </select>
            </div>
        </div>
    </form>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row justify-content-between">
    @foreach (var item in Model)
    {
        <div class="col-sm" style="margin-top: 10px">
            <div class="card">
                <img class="card-img-top"
                     src=@Html.DisplayFor(modelItem => item.Img.Description)
                     alt=@Html.DisplayFor(modelItem => item.Img.Description)>
                <div class="card-body">
                    <div class="card-title">
                        <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                        <div class="row">
                            <div class="col">@Html.DisplayFor(modelItem => item.Difficulty)</div>|
                            <div class="col">@Html.DisplayFor(modelItem => item.TripType)</div>|
                            <div class="col">@Html.DisplayFor(modelItem => item.Price)</div>
                        </div>
                    </div>
                    <hr />
                    <div class="card-text" id="card-text">
                        <div class="card-subtitle">@Html.DisplayFor(modelItem => item.Destination)</div>
                        <div class="address"> @Html.DisplayFor(modelItem => item.Location)</div>
                        <br/>
                        <p>@Html.DisplayFor(modelItem => item.Details)</p>
                    </div>
                    <hr />
                    <div class="product-section">
                        <a data-toggle="collapse"
                           href="#showProducts"
                           role="button"
                           aria-expanded="false" aria-controls="showProducts">
                            Recommended products
                        </a>
                        <div class="collapse" id="showProducts">
                            <div class="card card-body">
                                @foreach (var product in ViewBag.Products)
                                {
                                    <div class="row">
                                        <div class="col">
                                            @product.Name
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <span class="col">Rating: @Html.DisplayFor(modelItem => item.Rating)</span>
                        <div class="card-actions col">
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a href="none" data-toggle="modal" data-target="#deleteModal">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <form class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Trip</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="deleteModalBody">
                        Are you sure you want to delete this trip?
                        <br />
                        <a data-toggle="collapse" href="#collapseTripData" role="button" aria-expanded="false" aria-controls="collapseTripData">
                            Show more details...
                        </a>
                        <div class="collapse" id="collapseTripData">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col data-name">
                                        @Html.DisplayNameFor(modelItem => item.Name)
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col data-name">
                                        @Html.DisplayNameFor(modelItem => item.TripType)
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(modelItem => item.TripType)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col data-name">
                                        @Html.DisplayNameFor(modelItem => item.Difficulty)
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(modelItem => item.Difficulty)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col data-name">
                                        @Html.DisplayNameFor(modelItem => item.Price)
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col data-name">
                                        @Html.DisplayNameFor(modelItem => item.Rating)
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(modelItem => item.Rating)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col data-name">
                                        @Html.DisplayNameFor(modelItem => item.Location)
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(modelItem => item.Location)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col data-name">
                                        @Html.DisplayNameFor(modelItem => item.Destination)
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(modelItem => item.Destination)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col data-name">
                                        @Html.DisplayNameFor(modelItem => item.Details)
                                    </div>
                                    <div class="col">
                                        @Html.DisplayFor(modelItem => item.Details)
                                    </div>
                                </div>
                                <a data-toggle="collapse" href="#showProducts" role="button" aria-expanded="false" aria-controls="showProducts">
                                    Show recommended products...
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for=@item.Id />
                            <a asp-action="Index" id="delete" class="btn btn-secondary">Cancel</a>
                            <input type="submit" asp-action="Delete" asp-route-id="@item.Id" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </div>
            </div>
        </form>

    }
</div>