@model IEnumerable<mr_shtrahman.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <h1>OUR SHOPS</h1>

    <form asp-action="Search" class="input-group search">
        <div class="form-outline">
            <input name="query"
                   placeholder="search shops"
                   type="search"
                   class="form-control" />
        </div>
        <button type="submit" value="search" class="btn btn-dark">
            Search
        </button>
    </form>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" 
             src="~/Assets/download (2).jpg"
             alt=@Html.DisplayFor(modelItem => item.Img.Description) >
        <div class="card-body">
            <div class="card-title row">
                <h5 class="col">@Html.DisplayFor(modelItem => item.Name)</h5>
                <span class="col">@Html.DisplayFor(modelItem => item.Price)</span>
            </div>
            <hr/>
            <p class="card-text">
                <div>@Html.DisplayFor(modelItem => item.Destination)</div>
                <div>@Html.DisplayFor(modelItem => item.Location)</div>
                <div>@Html.DisplayFor(modelItem => item.Details)</div>
            </p>
            <hr />
            <div class="row">
                <div class="col">@Html.DisplayFor(modelItem => item.Difficulty)</div>
                <div class="col">@Html.DisplayFor(modelItem => item.TripType)</div>
            </div>
            <hr/>
            <div>Rating: @Html.DisplayFor(modelItem => item.Rating)</div>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    </div>
}