<link rel="stylesheet" href="~/css/trip.css">

@model IEnumerable<mr_shtrahman.Models.Trip>
@using mr_shtrahman.enums

@{
    ViewData["Title"] = "Index";
}

<div class="header">
    <h1>OUR TRIPS</h1>

    <form asp-action="Search" class="input-group search">
        <div class="form-outline">
            <input name="query"
                   placeholder="search trips"
                   type="search"
                   class="form-control" />
        </div>
        <button type="submit" value="search" class="btn btn-dark">
            Search
        </button>
    </form>
    <form asp-action="Filter" class="input-group filter">
        <div class="btn-group" role="group">
            <div class="btn-group" role="group">
                <select asp-items="Html.GetEnumSelectList<Destination>()"
                        class="form-control">
                    <option value="" selected disabled hidden>Destination</option>
                </select>
            </div>
            <div class="btn-group" role="group">
                <select asp-items="Html.GetEnumSelectList<TripType>()"
                        class="form-control">
                    <option value="" selected disabled hidden>Trip type</option>
                </select>
            </div>
            <div class="btn-group" role="group">
                <select asp-items="Html.GetEnumSelectList<Difficulty>()"
                        class="form-control">
                    <option value="" selected disabled hidden>Difficulty</option>
                </select>
            </div>
        </div>
    </form>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row justify-content-between">
    @foreach (var item in Model)
    {
        <div class="col-sm-4" style="margin-top: 10px">
            <div class="card" style="height: 35rem">
                <span>@Html.DisplayFor(modelItem => item.Img)</span>
                <img class="card-img-top"
                     src=@Html.DisplayFor(modelItem => item.Img.Src)
                     alt=@Html.DisplayFor(modelItem => item.Img.Description)>
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <div class="row">
                        <div class="col">@Html.DisplayFor(modelItem => item.Difficulty)</div>
                        <div class="col">@Html.DisplayFor(modelItem => item.TripType)</div>
                        <div class="col">@Html.DisplayFor(modelItem => item.Price)</div>
                    </div>
                    <hr />
                    <p class="card-text">
                        <div>@Html.DisplayFor(modelItem => item.Destination)</div>
                        <div>@Html.DisplayFor(modelItem => item.Location)</div>
                        <div>@Html.DisplayFor(modelItem => item.Details)</div>
                    </p>
                    <hr />
                    <div>Rating: @Html.DisplayFor(modelItem => item.Rating)</div>
                </div>
                @*<div>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>*@
            </div>
        </div>
    }
</div>