<link rel="stylesheet" href="~/css/trip.css">
<link rel="stylesheet" href="~/css/general.css">

@model IEnumerable<mr_shtrahman.Models.Trip>
@using mr_shtrahman.enums

@{
    ViewData["Title"] = "Index";
}

<body onload="loadImage()">
    <div class="header">
        <h1>OUR TRIPS</h1>

        <form asp-action="Search" class="input-group search">
            <div class="form-outline">
                <input name="query"
                       placeholder="search trips"
                       type="search"
                       class="form-control" />
            </div>
            <button type="submit" value="search" class="btn btn-dark">
                Search
            </button>
        </form>
        <div class="row buttons-container">
            <a asp-controller="Home" asp-action="Index">Go Back</a>
            <a asp-controller="Trips" asp-action="Map">Go To Map</a>
        </div>

    </div>

    <a asp-action="Create" class="btn btn-lg btn-outline-info add-item">ADD TRIP +</a>

    @using (Html.BeginForm("Filter", "Trips", FormMethod.Get))
    {
<form class="form-inline">
    <div class="row">
        <div class="form-group col-sm-3">
            <select class="form-control" name="destination" asp-items="Html.GetEnumSelectList<Destination>()">
                class="form-control">
                <option value="" selected disabled hidden>Select Destination</option>
            </select>
        </div>
        <div class="form-group col-sm-3">
            <select class="form-control" name="tripType" asp-items="Html.GetEnumSelectList<TripType>()">
                <option value="" selected disabled hidden>Select Trip type</option>
            </select>
        </div>
        <div class="form-group col-sm-3">
            <select class="form-control" name="difficulty" asp-items="Html.GetEnumSelectList<Difficulty>()">
                <option value="" selected disabled hidden>Select Difficulty</option>
            </select>
        </div>
        <div class="form-group col-sm-3">
            <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-search">
                    Filter
                </span>
            </button>
        </div>
    </div>

</form>
    }

    <div class="row justify-content-between">
        @foreach (var item in Model)
        {
            <div class="col-sm-6" style="margin-top: 10px">
                <div class="card">
                    <img class="card-img-top" id="@item.Id.ToString()"
                         src="" />
                    <div class="card-body">
                        <section class="card-title">
                            <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                            <div class="row">
                                <div class="col">@Html.DisplayFor(modelItem => item.Difficulty)</div>
                                <div class="col">@Html.DisplayFor(modelItem => item.TripType)</div>
                                <div class="col">@Html.DisplayFor(modelItem => item.Price)</div>
                            </div>
                        </section>
                        <hr />
                        <section class="card-text" id="card-text">
                            <div class="card-subtitle">@Html.DisplayFor(modelItem => item.Destination)</div>
                            <div class="address"> @Html.DisplayFor(modelItem => item.Location)</div>
                            <br />
                        </section>
                        <hr />
                        <a class="details btn-lg" asp-action="Details" asp-route-id="@item.Id">Go There</a>
                        <hr />
                        <section class="row">
                            <div class="rate">
                                @for (int i = 1; i <= (5 - item.Rating); i++)
                                {
                                    <input type="radio" id="gray-star" name="rate" value="5" />
                                    <label for="gray-star" title="text">star</label>
                                }
                                @for (int i = 1; i <= item.Rating; i++)
                                {
                                    <input type="radio" id="gold-star" name="rate" value="5" />
                                    <label for="gold-star" title="text">star</label>
                                }
                            </div>
                            <div class="card-actions col">
                                <a class="btn-outline-dark btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn-outline-dark btn-sm" href="none" data-toggle="modal" data-target="#deleteModal" onclick="saveIdToDelete(@item.Id)">Delete</a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete Trip</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="deleteModalBody">
                            Are you sure you want to delete this trip?
                        </div>
                        <div class="modal-footer">
                            <form asp-action="Delete">
                                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                                <input type="submit" id="idContainer" asp-action="Delete" asp-route-id="" value="Delete" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
<script type="text/javascript">
    function loadImage() {
        var tripIds = [];

        @foreach (var d in Model.ToList())
        {
            @:tripIds.push("@d.Id");
        }

        for (i = 0; i < tripIds.length; i++) {
            (function (i) {
                var id = tripIds[i];
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("TripImage")',
                    data: { id },
                    success: function (image) {
                        document.getElementById(id).src = image;
                    },
                    error: function () {
                        alert("An error has occured!");
                    }
                });
            })(i);
        }
    }

    function saveIdToDelete(id) {
        var newhref = $("#idContainer").attr('formaction') + '/' + id;
        $("#idContainer").attr("formaction", newhref);
    }

</script>